h1 {
    font-size: 38px;
    color: blueviolet;
    text-align: center;
}
h2 {
    font-size: 22px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-align: center;
}
.image1 {
    max-width: 150px;
    border-radius: 10px;
}
.image2 {
    width: 30%;
    border-radius: 5px;
}
.image3 {
    max-width: 250px;
    border-radius: 10px;
}
p {
    text-align: center;
}
.lounchApp {
    text-align: center;
    border-color: blueviolet;
    padding: 5px;
}