body {
    margin: 0;
    padding: 0;
}
container {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
:root {
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.lounchApp {
    box-shadow: var(--box-shadow);
}
h1 {
    font-size: 68px;
    color: blueviolet;
    text-align: center;
}
h2 {
    font-size: 46px;
    text-align: center;
}
h3 {
    font-size: 26px;
    text-align: center;
}
.image1 {
    max-width: 150px;
    border-radius: 10px;
    text-align: left;
}
.image2 {
    width: 30%;
    border-radius: 10px;
}
.image3 {
    max-width: 100%;
    border-radius: 10px;
}

p {
    text-align: center;
}
.right {
    text-align: right;
}

.col-md-6 {

    flex: 0 0 auto;
    padding: 0 12px;
}

.col-md-6 .image1 {
    text-align: left;
}
.row {
    margin-bottom: 50px;
}
.lounchApp {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background-color: blueviolet;
    text-decoration: none;
    border: 5px;
    border-radius: 10px;
    padding: 10px;
}
#violetBox {
    background-color: rgb(237, 231, 243);
    border-radius: 10px;
    margin-left: 10;
    margin-right: 0;
}
.navigation-links a {
    margin: 20px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }

