h1 {
    font-size: 38px;
    color: blueviolet;
    text-align: center;
}
h2 {
    font-size: 22px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-align: center;
}
.image1 {
    max-width: 150px;
    border-radius: 10px;
}
.image2 {
    width: 30%;
    border-radius: 5px;
}
.image3 {
    max-width: 250px;
    border-radius: 10px;
}
p {
    text-align: center;
}
.lounchApp {
    margin: 0;
    
    color: antiquewhite;
    background-color: blueviolet;
    text-decoration: none;
    border: 5px;
    border-color: black;
    border-style: dotted;
    border-radius: 3px;
    padding: 5px;
}
a .lounchApp {
    text-align: center;
    margin: 5px 20px;
}